
/* general padding & margin */

body {
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
}

/* header style */
h1 {
    font-size: 24px;
    color: #f9faf8
}

h1, a {
    font-family: Roboto, sans-serif;
}

a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 300;
    color: #e7e5eb;
}

.header {
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    gap: 600px;
    align-items: center;
}

.head-links {
    display: flex;
    gap: 30px;
    list-style: none;
    margin: 0;
    padding: 0;
}

/* hero section style */

.hero {
    background-color: #1f2937;
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    padding: 100px 70px;
}


.right-section {
    display: flex;
    flex-direction: column;
}

img#country-hero {
    width: 500px;
    height: auto;
}

.hero-main-text {
    font-size: 48px;
    font-weight: 900;
    font-family: Roboto, sans-serif;
    margin: 0;
}

.hero-text {
    font-size: 18px;
    font-family: Roboto, sans-serif;
    width: 400px;
    margin: 10px 0;
    color: #e5e7eb
}

button.hero-button {
    width: 120px;
    height: auto;
    padding: 10px;
    background-color: #3882f6;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    font-family: Roboto, sans-serif;
    cursor: pointer;
    font-weight: bold;
    text-align: center;
}

/* infos section */

.info-section-one {
    display: flex;
    flex-direction: column;
}

.section-one-main-text {
    font-size: 36px;
    font-weight: 900;
    text-align: center;
    margin: 30px;
    color:#1f2937;
}

.team-up {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 50px;
}

.team-card {
    width: 220px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

img.team-pics {
    width: 200px;
    height: 200px;
    border: 3px #3882f6 solid;
    border-radius: 10%;
}

p.char-description {
    text-align: center;
}

/* quote section */

.quote-section {
    background-color: #e5e7eb;
    padding: 50px 200px;
}

p.main-quote {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
}

p#author-pin {
    font-size: 18px;
    font-weight: 900;
    text-align: end;
}

/* cta section */

.cta-section {
    padding: 80px 150px;
}

.cta-box {
    background-color: #3882f6;
    padding: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
}

.cta-text , .cta-button {
    color:#ffffff;
}

.cta-text h3, .cta-text p {
    margin: 0;
}

.cta-text p {
    font-size: 18px;
    font-weight: 300;
}

.cta-button {
    background-color: #3882f6;
    padding: 10px;
    border: 2px white solid;
    border-radius: 20px;
    width: 100px;
    height: 60px;
    cursor: pointer;
    font-size: 15px;
    font-weight: 800;
}

.footer {
    background-color: #1f2937;
    color: white;
    text-align: center;
    padding: 50px;
}