
/* general padding & margin */

body {
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
}

/* header style */
h1 {
    font-size: 24px;
    color: #f9faf8
}

h1, a {
    font-family: Roboto, sans-serif;
}

a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 300;
    color: #e7e5eb;
}

a:hover {
    text-decoration: underline;
}

.header {
    background-color: #560bad;
    display: flex;
    justify-content: center;
    gap: 600px;
    align-items: center;
}

.head-links {
    display: flex;
    gap: 30px;
    list-style: none;
    margin: 0;
    padding: 0;
}

/* hero section style */

.hero, .hero2 {
    background-color: #00025f;
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    padding: 100px 70px;
}


.right-section {
    display: flex;
    flex-direction: column;
}

img#country-hero {
    width: 500px;
    height: auto;
}

.hero-main-text {
    font-size: 48px;
    font-weight: 900;
    font-family: Roboto, sans-serif;
    margin: 0;
}

.hero-text {
    font-size: 18px;
    font-family: Roboto, sans-serif;
    width: 400px;
    margin: 10px 0;
    color: #e5e7eb
}

button.hero-button {
    width: 120px;
    height: auto;
    padding: 10px;
    background-color: #7209b7;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    font-family: Roboto, sans-serif;
    cursor: pointer;
    font-weight: bold;
    text-align: center;
}

/* infos section */

.info-section-one {
    display: flex;
    flex-direction: column;
    background-color: #4cc9f0;
}

.section-one-main-text {
    font-size: 36px;
    font-weight: 900;
    text-align: center;
    margin: 30px;
    color:#00025f;
}

.team-up {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin: 50px;
}

.team-card {
    width: 220px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

img.team-pics {
    width: 200px;
    height: 200px;
    border: 2px #3c1642 solid;
    border-radius: 30px;
}

p.char-description {
    text-align: center;
    color:#3c1642;
    font-size: 18px;
}

/* quote section */

.quote-section {
    background-color: #e2ebff;
    padding: 50px 200px;
    color: #200046;
}

p.main-quote {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
}

p#author-pin {
    font-size: 18px;
    font-weight: 900;
    text-align: end;
}

/* cta section */

.cta-section {
    padding: 80px 150px;
    background-color: #f3f6ff;
}

.cta-box {
    background-color: #7209b7;
    padding: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
}

.cta-text , .cta-button {
    color:#ffffff;
}

.cta-text h3, .cta-text p {
    margin: 0;
}

.cta-text p {
    font-size: 18px;
    font-weight: 300;
}

.cta-button {
    background-color: #7209b7;
    padding: 10px;
    border: 2px white solid;
    border-radius: 20px;
    width: 100px;
    height: 60px;
    cursor: pointer;
    font-size: 15px;
    font-weight: 800;
}

.footer {
    background-color: #15012c;
    color: white;
    text-align: center;
    padding: 50px;
}

/* styles for contacts.html */ 

.hero2 .first{
    font-size: 55px;
    font-weight: 900;
}

.hero2 .second {
    width: 600px;
    height: auto;
    border-radius: 20px;
    border: 2px solid #4cc9f0;
}

.second-section {
    display: flex;
    gap: 20px;
    flex-direction: column;
    padding: 20px 50px;
    align-items: center;
}

.second-section span {
    font-size: 40px;
    font-weight: 700;
    color: #15012c;
}

.link {
    font-size: 30px;
    padding: 30px;
    border-radius: 20px;
    border: 2px solid #ffffff;
}

.stack-two {
    display: flex;
    gap: 100px;
}
.facebook, .insta, .discord {
    color: #e7e5eb;
    text-align: center;
    cursor: pointer;
}

.insta {
    background-color: #8d0076;
}

.discord {
    background-color: #1f008d;
}

.facebook {
    background-color: #0400ec;
}

.mail {
    font-size: 40px;
    color: #ffffff;
    background-color: #9c0000;
    text-align: center;
}

#aboutUs p {
    text-align: justify;
    padding: 0 80px;
    font-size: 20px;
    font-weight: 400;
}

#aboutUs {
    background-color: #dff8ff;
}